app = "aleo-ecom-gateway"
primary_region = "gru"

[env]
  PORT = "8080"
  AUTH_QUEUE = "auth_queue"
  CATALOG_QUEUE = "catalog_queue"
  INVENTORY_QUEUE = "inventory_queue"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1