app = "aleo-ecom-frontend"
primary_region = "gru"

[build.args]
  VITE_API_URL = "https://aleo-ecom-gateway.fly.dev"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1