@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --accent: oklch(0.606 0.25 292.717);
    --accent-border: oklch(0.606 0.25 292.717 / 0.5);
    --accent-foreground: oklch(1 0 0);
    --accent-foreground-dark: oklch(0.985 0 0);
  }

  * {
    @apply border-gray-200;
  }

  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    min-width: 320px;
  }

  body {
    @apply bg-slate-100 text-slate-900 antialiased;
    overflow: hidden;
  }
}
